@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@font-face {
  font-family: Dana;
  src: url(fonts/Dana/dana-bold.woff) format("woff");
}
body{
  font-family: Dana !important
}
